.root {
    -fx-background-color: #2b2b2b; /* Tmavé pozadí */
    -fx-text-fill: #dcdcdc; /* Světlý text */
}

.button {
    -fx-background-color: #3c3f41;
    -fx-text-fill: #dcdcdc;
}

.text-area, .text-field, .list-view {
    -fx-control-inner-background: #3c3f41;
    -fx-text-fill: #dcdcdc;
    -fx-prompt-text-fill: #757575;
}




.menu {
    -fx-text-fill: #dcdcdc;
}
.titled-pane {
    -fx-background-color: #3c3f41;
    -fx-text-fill: #1d2026;
}

.titled-pane > .title {
    -fx-text-fill: #1d2026;
}

.split-pane-divider {
    -fx-background-color: #1d2026;
}

.grid-pane {
    -fx-background-color: #3c3f41; /* Dark gray color */
}

.split-pane {
    -fx-background-color: #1d2026; /* Dark background for split pane dividers */
}

/* Pozadí mapy */
.titled-pane > .content {
    -fx-background-color: #3c3f41;
}

/* položky menu */
.menu-item {
    -fx-text-fill: #dcdcdc;
}

